modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "./dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"

[userenv]

[userenv.shared]
SMTP_HOST = "mail.toov.com.tr"
SMTP_PORT = "465"
SMTP_SECURE = "true"
SMTP_USER = "no-reply@toov.com.tr"
SMTP_FROM = "no-reply@toov.com.tr"
ADMIN_EMAIL = "info@capitallashing.com"
RECAPTCHA_SITE_KEY = "6LeznqQsAAAAACFTkHNuJYxlNDBC3f_w_mEnHH5u"
